<ng-template #loading>
    <div class="loading">
        <div>
            <div class="lds-grid">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #data>
    <table class="table table-borderd">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of this.post">
                <td>{{item.title}}</td>
                <td>{{item.description}}</td>
                <td>
                    <a [routerLink]="['/post-edit',item._id]" class="btn btn-primary">Edit</a> |
                    <button (click)="OpenModal(mymodal, item._id)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>

<ng-component *ngIf="this.post != null then data else loading">

</ng-component>


<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete Conformation</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss(0)">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        Are you sure to Delete
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close(1)">Yes</button>
    </div>
</ng-template>